.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-card-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  margin: 24px;
}

@media screen and (min-width: 768px) {
  .feedback-card-container {
    width: 36%;
  }
}

.question {
  font-family: 'Roboto';
  font-size: 18px;
  color: #0f172a;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .question {
    font-size: 28px;
    margin-bottom: 45px;
  }
}

.emojis-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
}

.list-item-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .emoji {
    width: 60px;
    height: 60px;
  }
}

.emoji-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1e293b;
}

/* Thank You */

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love-emoji {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .love-emoji {
    width: 80px;
  }
}

.thank-you-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  color: #0f172a;
}

@media screen and (min-width: 768px) {
  .thank-you-heading {
    font-size: 30px;
  }
}

.thank-you-feedback {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .thank-you-feedback {
    font-size: 18px;
  }
}
